@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  color: #5a5a5a;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Project Thumbail */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Icon Color */
.html-icon {
  color: #f16529;
}
.css-icon {
  color: #2965f1;
}
.js-icon{
  color: #f0db4f;
}
.react-icon{
  color: #61dbfb;
}
.bootstrap-icon{
  color: #602c50;
}
.vue-icon{
  color: #42b883;
} 

/* React Logo Spin Animation */
.react-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 300px;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scroll Down Animation */
.scroll-btn {
  animation: mover infinite 2.35s linear;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform:translateY(0.5rem);
  }
}

/* Back to Top Button */
#btn-back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}




