/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .react {
        margin: -20px 0 40px;
    }
    .text-hero {
        text-align: center;
    }
    #jumbotron {
        padding: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .react {
        margin: -20px 0 40px;
    }
    .text-hero {
        text-align: center;
    }
    #jumbotron {
        padding: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */